Assets/MoPub
Assets/PlayServicesResolver
Assets/GoogleMobileAds
Assets/ADXLibrary
Assets/ADXDependencies

Library
obj
Packages
Temp
Logs

.vs/
.vsconfig
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.apk
*.unitypackage